
 <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
        <h1>Student Teacher </br> <span>Log In</span> </h1>




<div>
<div class="contanier">
<div class="row">
      <div class="col-md-8">
    <form action="/users/login" class="row" method='post',enctype='multipart/form-data'>
                 
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginName" name="username" placeholder="Enter your user name">
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control mb-3" id="loginPassword" name="password" placeholder="Enter your Password">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">LOGIN</button>
                    </div>
                </form>
                 </div>
                 <a href='/users/forgot'><h4 class="card-title ">Foget Password</h4></a>
                 </div>
                 </div>
                 </div>
              

               
              
                    
      </div>
   
</div>

    </div>
  </div>
